.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f02525;
  box-sizing: border-box;
  border-radius: 7px;
}

.headerItem {
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.headerItem:hover {
  color: #ffffff;
}

.active {
  border-bottom: 2px solid #ffffff;
}

body {
  padding-top: 60px;
}